/* 
----- Mobile First -----
=================================================== */

/* ----- General Styles ----- */

/*  Resets padding, margin and box-sizing */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: rgb(255, 255, 255);
}

h1 {
	font-family: 'Alegreya', serif;
	font-weight: 700;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 2.5rem;
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
}

article {
	padding: 0 1rem;
}

.article-info {
	flex-direction: column;
	justify-content: center;
	flex: 1 0 65%;
}

blockquote {
	position: relative;
	color: rgb(128, 0, 128);
	padding: 0 2.5rem;
	font-weight: bold;
	margin: 1.5rem 0;
	font-size: 1.250rem;
	font-weight: 100;
	line-height: 1.4;
	background-size: 50% 50%;
}
blockquote::before,
blockquote::after {
	position: absolute;
	font-size: 6rem;
}
blockquote::before {
	content: '\201c';
	top: -20%;
	left: 0%;
}
blockquote::after {
	content: '\201d';
	left: 95%;
	top: 40%;
}
.blockquote-bg {
	transform: rotate(-5deg);
	height: 4rem;
	position: absolute;
	top: 15%;
	width: 90%;
	background: rgba(128, 0, 128, 0.1);
	border-radius: 50%;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),
							0 0px 14px 0 rgba(0,0,0,0.19);
}

cite {
	font-style: italic;
}
cite::before {
	content: '--';
}

/* Flexbox */
.flex {
	display: flex;
}

/* Imgage and video will always fit in container */
img,
video {
	max-width: 100%;
}

/* adds a shadow to large bg images */
video,
.banner,
.keep-practicing-bg {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
							0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Buttons */
.btn {
	border: 3px solid rgb(128, 0, 128);
	width: 100%;
	background: rgb(128, 0, 128);
	display: inline-block;
	padding: 1rem 0;
	text-align: center;
	
	transition: background 0.3s ease-in,
							color 0.2s ease-in;
}
.btn:hover {
	background: transparent;
	color: rgb(128, 0, 128);
}

/* Hides desktop navigation on mobile devices */
.mobile-hide {
	display: none;
}



/* ----- Header & Navigation ----- */
header {
	height: 4rem;
	align-items: center;
}
header img {
	flex: 1;
}
header nav.mobile {
	flex: 3;
}
header ul {
	justify-content: space-around;
}

nav ul a:hover,
nav ul a:focus {
	color: rgb(128, 0, 128);
	padding-bottom: 10px;
	border-bottom: 2px solid rgb(128, 0, 128);
	font-weight: bold;
}



/* ----- Banner Section ----- */
.banner-cta {
	flex-direction: column;
	background-color: rgba(128, 0, 128, 0.2);
	border-color: rgb(128, 0, 128);
	border-style: solid;
	border-width: 3px 0 3px 0;
}

.banner {
	background: url('../img/banner.jpg') no-repeat center center;
	background-size: cover;
	height: 20rem;
}



/* ----- Learn Something Section ----- */
.learn-something {
	padding: 2rem 1rem;
}
.learn-something p {
	margin: 1.5rem 0;
}
.learn-something a {
	text-decoration: none;
	color: #fff;
}



/* ----- Main Content section ----- */
.main-content {
	padding: 1rem 0 2rem;
	justify-content: center;
}

/* --- Main Content articles --- */
.main-content article {
	border-bottom: 3px solid rgb(128, 0, 128); 
	background: #eee;
	padding-bottom: 1rem;
	margin-top: 4rem;
	flex-direction: column;
}
.main-content article:nth-child(3) {
	background: rgba(128, 0, 128, 0.1);
}
article:first-child {
	margin-top: 0;
}
article .read-more {
	display: inline-block;
	text-decoration: none;
}
article h3,
article p,
article .read-more {
	padding: 0 1rem;
	margin-top: 1rem;
}

.articles .orientation {
	background: url('../img/information-orientation-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: 10rem;
}
.articles .campus {
	background: url('../img/information-campus-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: 10rem;
}
.articles .special-guest {
	background: url('../img/information-guest-lecture-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: 10rem;
}



/* ----- Start Learning section ----- */
.start-learning {
	border: 1px solid #eee;
	padding-bottom: 4.5rem;
}

.start-learning-cards {
	flex-direction: column;
}

.start-learning h2 {
	text-align: center;
	margin: 2rem 0 1rem 0;
}
.start-learning article {
	margin-top: 2rem;
}
.start-learning img,
.start-learning h4,
.start-learning p {
	display: none;
}
.start-learning h3 {
	background: rgba(128, 0, 128, 0.2);
	margin-bottom: -1.5rem;
	padding: 2rem 1rem;
}



/* ----- Thesis Exibits section ----- */
.thesis-exibits {
	padding: 2rem 0 1.5rem 0;
}
.thesis-exibits h2 {
	text-align: center;
	margin-bottom: 1rem;
}

.thesis-articles {
	display: none;
}



/* ----- Footer ----- */
footer {
	color: #fff;
	padding: 1rem 0 2rem 1rem;
	background: linear-gradient(#000, rgb(128, 0, 128));
}










/* 
----- Desktop (above 1024px) -----
=================================================== */
@media screen and (min-width: 1024px) {
	
	/* ----- General Styles ----- */
	/* hides mobile navigation on desktop */
	.mobile {
		display: none;
	}
	/* shows desktop navigation on desktop */
	.mobile-hide {
		display: block;
	}


	
	/* ----- Header & Navigation ----- */
	header {
		justify-content: flex-end;
		padding: 0 1.5rem;
	}
	header img {
		flex: 0;
	}
	header h1 {
		margin-right: auto;
		text-transform: uppercase;
		color: #333;
		font-size: 1.250rem;
	}
	header span {
		color: #aaa;
	}
	header ul li {
		margin-left: 1rem;
	}
	header .mobile-hide a {
		text-decoration: none;
	}



	/* ----- Banner Section ----- */
	.banner-cta {
		flex-direction: row;
		padding: 2rem 1.5rem;
	}

	.banner {
		flex: 1 0 60%;
		height: 28rem;
	}

	.learn-something {
		flex: 1 0 40%;
		padding: 0 0 0 1.5rem;
		align-self: center;
	}



	/* ----- Main Content section ----- */
	.main-content {
		padding: 2rem 1.5rem;
		justify-content: flex-start;
	}

	.keep-practicing {
		flex-direction: column;
		margin-right: 1.5rem;
		flex: 1 0 60%;
		max-width: 60%;
	}
	.keep-practicing-bg {
		background: url('../img/information-main.jpg') no-repeat center center;
		background-size: cover;
		height: 28rem;
	}
	.keep-practicing h2 {
		margin-top: 2rem;
	}
	
	.main-content article {
		flex-direction: row;
		padding: 1rem 1rem;
		border-left: 3px solid rgb(128, 0, 128);
		border-bottom: none;
	}
	.main-content article:nth-child(1) {
		margin-top: 0;
	}
	.main-content .articles {
		flex: 1;
	}

	article h3,
	article p,
	article .read-more {
		padding-bottom: 0.5rem;
	}

	.articles .orientation {	
		background: url('../img/information-orientation.jpg') no-repeat center center;
		background-size: cover;
		height: auto;
		flex: 1 0 35%;
	}
	.articles .campus {	
		background: url('../img/information-campus.jpg') no-repeat center center;
		background-size: cover;
		height: auto;
		flex: 1 0 35%;
	}
	.articles .special-guest {	
		background: url('../img/information-guest-lecture.jpg') no-repeat center center;
		background-size: cover;
		height: auto;
		flex: 1 0 35%;
	}

	

	/* ----- Start Learning section ----- */
	.start-learning {
		background-color: rgba(128, 0, 128, 0.2);
		border-color: rgb(128, 0, 128);
		border-style: solid;
		border-width: 3px 0 3px 0;
	}

	.start-learning-cards {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 4.5rem;
	}

	.start-learning article {
		background: #fff;
		padding: 0 0 1.5rem 0;
		display: flex;
		flex-direction: column;
		flex: 1 0 30%;
		margin: 0 2rem 2rem 0;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
								0 6px 20px 0 rgba(0,0,0,0.19);
		
		transition: box-shadow 0.2s ease-in;
	}
	.start-learning article:hover {
		box-shadow: 0 16px 12px -6px black;
	}
	.start-learning article:nth-child(3n + 3) {
		margin-right: 0;
	}

	.start-learning img,
	.start-learning h4,
	.start-learning p {
		display: block;
	}
	.start-learning h3 {
		background: #fff;
		padding: 1rem 1rem 2rem 1rem;
	}
	.start-learning h4 {
		padding: 0.5rem 0 0.5rem 1rem;
	}
	.start-learning p {
		margin: 0;
	}



	/* ----- Thesis Exibits section ----- */
	.thesis-exibits {
		flex-direction: column;
		padding: 0 1.5rem;
	}
	.thesis-exibits > h2 {
		margin: 2rem 0;
	}

	.thesis-video {
		flex: 1 0 60%;
		padding-right: 1.5rem;
		max-width: 60%;
	}
	.thesis-video h2 {
		margin-top: 1.5rem;
		text-align: left;
	}

	.thesis-articles {
		display: flex;
		flex-direction: column;
		flex: 1 0 35%
	}
	.thesis-articles article {
		padding: 1rem;
		background: #eee;
		border-left: 3px solid rgb(128, 0, 128); 
	}
	.thesis-articles article:nth-child(1) {
		background: rgba(128, 0, 128, 0.1);
		margin-bottom: 3rem;
	}
	.thesis-articles .fisma {	
		background: url('../img/thesis-fisma.jpg') no-repeat center center;
		background-size: cover;
		height: 10rem;
		flex: 1 0 35%;
	}
	.thesis-articles .now-and-then {	
		background: url('../img/thesis-now-and-then.jpg') no-repeat center center;
		background-size: cover;
		height: 10rem;
		flex: 1 0 35%;
	}



	/* ----- Footer ----- */
	footer {
		padding: 1rem 0 3rem 2rem;
	}
}/* --- end Desktop Media query --- */